<%- include('../partials/header',{page:page}); %>

<div class="container">
    <h1 class="text-center">Error</h1>
    <p class="text-center"><%- error %></p>
    </div>
    <%- include('../partials/footer'); %>
